@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto:wght@300;400;500&display=swap');

body{
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
}

a{
  text-decoration: none;
  color: #000;
}

.movie_card{
  box-shadow: 2px 3px 5px rgba(0,0,0,0.5);
  width: 400px;
  height: 490px;
  border-radius: .6rem;
  overflow: hidden;
}

.movie{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 2rem;
  max-width: 1300px;
  margin: auto;
  width: 90%;
  margin-top: 2rem;
}

.movie_card h3{
  padding: .5rem;
}

.movie_card_image{
  display: flex;
  justify-content: center;
  align-items: center;
}

img{
  width: 100%;
  height: 400px;
}

.movie_img{
  width: 400px;
  height: 500px;
  object-fit: cover;
}

.movie_details{
    max-width: 1300px;
    margin: auto;
    width: 90%;
}

.movie_details h2{
  margin-bottom: 2rem;
}

/* .movie_details h2::before{
  content: '';
  position: absolute;
  background-color: rgb(31, 99, 131);
  width: 80px;
  height: 4px;
  top: 50px;
  left: 20%;
  transform: translateX(-50%);
} */

.movie_details img{
  border-radius: .7rem;
}

b{
  margin-right: .5rem;
}

@media (max-width:800px){
  .movie {
    grid-template-columns: repeat(2,1fr);
  }

  .movie_card {
    width: 333px;
  }

  .movie_card h3 {
    text-align: center;
  }
}

.loader{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width:500px){
  .movie{
    display: grid;
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }

  .movie_card {
    width: 360px;
  }

  .movie_img {
    width: 360px;
  }
}
